@font-face {
    font-family: 'bodoni72cregular';
    src: url('../assets/fonts/bodoni72c-regular.eot');
    src: url('../assets/fonts/bodoni72c-regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/bodoni72c-regular.woff2') format('woff2'),
        url('../assets/fonts/bodoni72c-regular.woff') format('woff'),
        url('../assets/fonts/bodoni72c-regular.ttf') format('truetype'),
        url('../assets/fonts/bodoni72c-regular.svg#bodoni72cregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bodoni72cregular {
    font-family: 'bodoni72cregular';
    font-weight: normal;
    font-style: normal;
}

.lato-light {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.corinthia-regular {
    font-family: 'Corinthia', cursive;
    font-weight: 400;
    font-style: normal;
}

.corinthia-bold {
    font-family: 'Corinthia', cursive;
    font-weight: 700;
    font-style: normal;
}

///////////////////////////////////////////////
/* COLORES */
$vadimar-rojo: #e1261d;
$vadimar-negro: #232b35;
$vadimar-negro2: #0e1317;

///
.red-color {
    color: $vadimar-rojo;
}
.black-color {
    color: $vadimar-negro;
}
.red-background {
    background-color: $vadimar-rojo;
}
.black-background {
    background-color: $vadimar-negro !important;
}

.black-background-block {
    background-color: $vadimar-negro2 !important;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-content {
    animation: fade-in 1s ease forwards;
    position: relative;
    z-index: 999;
}

.modal-backdrop {
    z-index: 998;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease, background-color 0.1s ease, opacity 1s ease;
    z-index: 1000;
    transform: translateX(0%);
    opacity: 1;
}

.loading-text {
    font-size: 200px;
    font-weight: bold;
    color: black;
    animation: fade-in 1s ease;
    transition: opacity 1s ease;
}
.logo-loading {
    width: 100%;
    max-width: 418px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    animation: fade-in 2s ease forwards;
}

.btnCustom {
    background-color: $vadimar-rojo;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 24px;
    line-height: 20px;
    &:hover,
    &:active {
        background-color: #fff !important;
        color: $vadimar-rojo !important;
        border-color: #fff !important;
    }
    &.btnCustomList {
        padding: 8px 44px;
    }
    &.btnCustomSubmit {
        padding: 18px 44px;
        text-transform: uppercase;
    }
}

.contentPadding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contentPadding2 {
    padding-top: 80px;
    padding-bottom: 200px;
}

.btnMenu {
    background-color: $vadimar-rojo;
    color: #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    &:hover,
    &:active {
        background-color: #fff !important;
        color: $vadimar-rojo !important;
        border-color: #fff !important;
    }
}

#header {
    position: fixed;
    width: 100%;
    padding-top: 50px;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    &.fixed-top {
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: $vadimar-negro;
    overflow-y: auto;
    .blockMenu {
        padding: 60px 20px 40px 20px;
        background-color: $vadimar-rojo;
        width: 60%;
    }
    .blockLogo {
        width: 40%;
        padding: 60px 10px 40px 10px;
        background-image: url('../assets/bg-menu.png');
        background-position: center;
        background-size: cover;
    }
    #navbar_top {
        padding: 50px;
        ul {
            li {
                font-family: 'Lato', sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 28px;
                text-transform: uppercase;
                margin-bottom: 30px;
                .nav-link {
                    color: #fff;
                    &:hover {
                        color: $vadimar-negro;
                    }
                }
            }
        }
    }
}

.closeMenu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    > div {
        cursor: pointer;
    }
}

.bannerSwiper {
    height: 100%;
    img {
        width: 100%;
    }
}
#productos-slider {
    position: relative;
    .swiper {
        min-height: 790px;
    }
    .swiper-wrapper {
        margin-top: 112px;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $vadimar-negro2;
        top: 112px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 86px;
        height: 16px;
        top: 190px;
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
        &::after {
            background-repeat: no-repeat;
            background-position: center;
            content: '';
        }
        &:hover {
            opacity: 1;
        }
    }

    .swiper-button-prev {
        background-image: url('../assets/arrow-left.svg');
        left: 16%;
        transform: translateX(-16%);
    }
    .swiper-button-next {
        background-image: url('../assets/arrow-right.svg');
        right: 16%;
        transform: translateX(-16%);
    }
    .swiper-slide {
        &::before {
            display: block;
        }
        &.swiper-slide-active {
            &:before {
                display: none;
            }
        }
    }
}
.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: $vadimar-rojo;
    opacity: 0.4;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 10px;
    margin-right: 10px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiperBg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.swiper-pagination {
    bottom: 80px;
}

.swiperBg1 {
    background-image: url('../assets/banner/productos1.png');
}
.swiperBg2 {
    background-image: url('../assets/banner/productos2.png');
}
.swiperBg3 {
    background-image: url('../assets/banner/productos3.png');
}
.swiperBg4 {
    background-image: url('../assets/banner/productos4.png');
}
.swiperBg5 {
    background-image: url('../assets/banner/productos5.png');
}
.swiperBg6 {
    background-image: url('../assets/banner/productos6.png');
}
.swiperBg7 {
    background-image: url('../assets/banner/productos7.png');
}

.contentBanner {
    height: 100vh;
    position: relative;
    &.bg-banner-prin {
        // background-image: url('../assets/banner-prin.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.bannerLogo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before {
        content: '';
        background-color: rgba($color: #161b21, $alpha: 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.textWelcome {
    font-size: 80px;
    padding-bottom: 20px;
}
.textlogoBanner {
    font-size: 28px;
    padding-top: 70px;
}

.blockMouse {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $vadimar-rojo;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    &.blockMouseStatic {
        position: static;
        transform: translateX(0);
        span {
            text-transform: uppercase;
            line-height: 1;
        }
    }
    &:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    }
}

.mainTit {
    color: $vadimar-rojo;
    font-size: 75px;
}

.secondTit {
    color: $vadimar-negro;
    font-size: 60px;
    text-transform: uppercase;
}

.thridTit {
    color: $vadimar-negro;
    font-size: 160px;
    text-transform: uppercase;
    line-height: 130px;
}

.backTit {
    font-size: 180px;
    color: #707377;
    font-family: 'bodoni72cregular';
    opacity: 0.08;
    text-transform: uppercase;
}

.containerTitles {
    position: relative;
    margin-bottom: 60px;
    .backTit {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.productCard {
    figure {
        position: relative;
        img {
            width: 100%;
        }
    }
    &:hover {
        figCaption {
            opacity: 1;
        }
    }
    figCaption {
        transition: opacity 0.4s ease-in-out;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 46px 85px;
        opacity: 0;
        &::before {
            content: '';
            background: linear-gradient(180deg, rgba(22, 27, 33, 0) 50%, rgba(22, 27, 33, 1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        p {
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            margin-bottom: 0;
            padding-bottom: 20px;
            border-bottom: 1px solid $vadimar-rojo;
        }
    }
}

.about-us-section {
    display: flex;
    align-items: center;
}

.blockAboutCont {
    padding-bottom: 200px;
    > .container {
        top: -90px;
    }
}

.blockAbout {
    padding: 90px 40px 100px;
    width: 40%;
    max-width: 484px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    p {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.2px;
        line-height: 24px;
    }
}
.blockAboutImg {
    img {
        object-fit: cover;
        height: 100%;
    }
}
.image-slider {
    width: 100%;
    margin: auto;
    position: relative;
    .slider-image {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }
    .active-slide {
        z-index: 10;
        img {
            display: block;
            cursor: pointer;
            transform: scale(1.4);
            transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
        }
    }
}
.swiper-slide {
    position: relative;
    z-index: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(11, 14, 17, 0.6);
        z-index: 1;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }
    &.swiper-slide-active {
        &::before {
            opacity: 0;
        }
    }
}

// LISTADO DE PRODUCTOS

.blockListProd {
    margin-bottom: 150px;
    figure {
        position: relative;
        width: 100%;
        max-width: 496px;
        display: inline-block;
        &::before,
        &::after {
            content: '';
            width: 70%;
            height: 70%;
            max-width: 315px;
            max-height: 315px;
            position: absolute;
            z-index: 0;
            background-color: rgba(35, 43, 53, 0.6);
        }
        &::before {
            top: 0px;
            left: 0px;
        }
        &::after {
            bottom: 0px;
            right: 0px;
        }
        img {
            width: 100%;
            padding: 20px;
            position: relative;
            z-index: 1;
        }
    }
    h3 {
        line-height: 60px;
    }
    p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 25px;
        text-align: justify;
    }
    .listProdText {
        padding-left: 10px;
    }
    .listProdImg {
        &.listProdImgBlack {
            figure {
                &::before,
                &::after {
                    background-color: rgba(35, 43, 53, 1);
                }
            }
        }
    }
    &.blockListProdRight {
        .listProdImg {
            order: 2;
            text-align: right;
        }
        .listProdText {
            order: 1;
            padding-left: 0px;
            padding-right: 10px;
        }
        figure {
            text-align: right;
        }
    }
}

// LISTADO DE PRODUCTOS

.contentVideo {
    margin: 150px 0;
    min-height: 550px;
    background-image: url('../assets/bg-video.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(14, 19, 23, 0.5);
        z-index: 0;
    }
    a {
        z-index: 1;
    }
}
.custom-modal-width {
    max-width: 800px;
    .modal-content {
        background-color: transparent;
        border: none;
    }
    .modal-header {
        border-bottom: none;
        .btn-close {
            background-color: $vadimar-rojo;
            border-radius: 50%;
            padding: 1rem;
            --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
            &:focus {
                box-shadow: none;
            }
        }
    }
}

/* FORMULARIO */
.contentForm {
    padding: 90px 60px;
    background-color: $vadimar-rojo;
    .form-control {
        padding: 10px 0 5px 0;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ffff;
        border-radius: 0;
        color: #fff;
        margin-bottom: 40px;
        font-family: 'bodoni72cregular';
        font-weight: normal;
        font-size: 20px;
        &:focus {
            box-shadow: none;
        }
        &::placeholder {
            font-family: 'bodoni72cregular';
            font-weight: normal;
            color: #fff;
            font-size: 20px;
            font-style: italic;
            opacity: 0.8;
        }
    }
    textarea {
        &.form-control {
            min-height: 120px;
            border: 1px solid #fff;
            padding: 10px;
        }
    }
}

/* FORMULARIO */

/* FOOTER */
.footer {
    font-size: 16px;
    h4 {
        font-size: 20px;
    }
    .footerTextCenter {
        font-size: 14px;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}
/* FOOTER */

@media screen and (max-width: 1400px) {
    .textWelcome {
        font-size: 70px;
    }
    .textlogoBanner {
        font-size: 24px;
    }
    .mainTit {
        font-size: 65px;
    }
    .secondTit {
        font-size: 50px;
    }
    .backTit {
        font-size: 100px;
    }
    .blockListProd h3 {
        line-height: 50px;
    }
    .thridTit {
        font-size: 130px;
        line-height: 110px;
    }
    .productCard {
        figCaption {
            p {
                font-size: 26px;
            }
        }
    }
    .logoBanner {
        max-width: 350px;
    }
    .btnCustom {
        font-size: 14px;
    }
}

@media screen and (max-width: 1399px) {
    #productos-slider .swiper {
        min-height: 680px;
    }
}

@media screen and (max-width: 1300px) {
    .blockAbout {
        padding: 90px 40px 60px;
    }
    .blockAboutCont {
        padding-bottom: 140px;
    }
    .sideMenu {
        .blockMenu {
            width: 65%;
        }
        .blockLogo {
            width: 35%;
        }
    }
}

@media screen and (max-width: 1199px) {
    .blockAbout {
        width: 60%;
        max-width: 484px;
    }
    #productos-slider .swiper {
        min-height: 590px;
    }
}

@media screen and (max-width: 1024px) {
    .mainTit {
        font-size: 60px;
    }
    .secondTit {
        font-size: 40px;
    }
    .backTit {
        font-size: 90px;
    }
    .logoBanner {
        max-width: 270px;
    }
    .textWelcome {
        font-size: 64px;
    }
    .textlogoBanner {
        font-size: 20px;
    }
    .productCard {
        figCaption {
            padding: 26px 30px;
            p {
                font-size: 20px;
            }
        }
    }
    .blockAbout {
        padding: 90px 30px 60px;
        width: 60%;
        max-width: 420px;
        p {
            font-size: 18px;
        }
    }
    .blockListProd {
        p {
            font-size: 17px;
        }
    }
    .sideMenu {
        .blockMenu {
            width: 100%;
        }
        .blockLogo {
            display: none !important;
        }
    }
}

@media screen and (max-width: 992px) {
    .listProdImg {
        text-align: center;
        margin-bottom: 20px;
    }
    .blockListProd {
        margin-bottom: 60px;
    }
    .blockListProd {
        &.blockListProdRight {
            .listProdText {
                order: 2;
                padding-right: 0;
            }
            .listProdImg {
                order: 1;
                text-align: center;
            }
        }
    }
    .productCard {
        figCaption {
            padding: 40px 30px;
        }
    }
    .blockAbout {
        padding: 60px 40px 60px;
    }
    .blockAboutCont {
        padding-bottom: 200px;
    }
    .thridTit {
        font-size: 80px;
        line-height: 70px;
    }
    .logoFooter {
        img {
            width: 200px;
        }
    }
    .footerCont {
        > div {
            &:nth-child(2) {
                order: 3;
            }
        }
    }
    .blockListProd {
        .listProdText {
            padding-left: 0px;
        }
    }
    .image-slider {
        .active-slide {
            img {
                transform: scale(1);
            }
        }
        .slider-image {
            cursor: pointer;
        }
    }
    #productos-slider {
        .swiper-slide {
            &::before {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mainTit {
        font-size: 50px;
    }
    .blockListProd {
        p {
            font-size: 15px;
            line-height: 20px;
        }
    }
    .blockMouse {
        width: 90px;
        height: 90px;
    }
    .blockAboutImg {
        display: none;
    }
    .blockAbout {
        position: static;
        transform: none;
        max-width: none;
        width: 100%;
    }
    .blockAboutCont {
        padding-bottom: 0;
        > .container {
            top: -150px;
        }
    }
    .blockAbout {
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .contentPadding {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .contentForm {
        padding: 60px 30px;
    }
    .contentVideo {
        margin-top: 0;
    }
    .sideMenu {
        .blockMenu {
            width: 100%;
            > .row {
                > div {
                    &:first-child {
                        order: 2;
                        > div {
                            &:last-child {
                                padding: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .thridTit {
        font-size: 60px;
        line-height: 60px;
    }
    .contentVideo {
        a {
            img {
                width: 90px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .backTit {
        font-size: 61px;
        margin-top: 0px;
    }
    .sideMenu {
        #navbar_top {
            padding: 20px;
            ul {
                li {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
        .blockMenu {
            padding-top: 80px;
            > .row {
                > div {
                    &:first-child {
                        > div {
                            &:last-child {
                                padding: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .thridTit {
        font-size: 50px;
        line-height: 50px;
    }
    .blockListProd p {
        font-size: 17px;
    }
    .contBtn {
        .btnCustom {
            &.btnCustomList {
                padding: 16px 44px;
            }
        }
    }
}
